<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="/">Car Rental</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
  
          <ng-container *ngIf="user!==undefined && user?.role?.includes('Admin')">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['/admin/cars']">Cars</a></li>
                <!-- <li>
                  <hr class="dropdown-divider">
                </li> -->
                <li><a class="dropdown-item" [routerLink]="['/admin/blogposts']">Users</a></li>
                <li><a class="dropdown-item" [routerLink]="['/admin/agreements']">Agreements</a></li>
              </ul>
            </li>
            
          </ng-container>
          <ng-container *ngIf="user!==undefined">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/youragreements',user.userId]">Agreements</a>
            </li>
          </ng-container>
        </ul>

        
        <ng-container *ngIf="user == undefined; else showLogout">
          <button class="btn btn-dark ms-2" [routerLink]="['/register']">Register</button>
          <button class="btn btn-dark ms-2" [routerLink]="['/login']">login</button>
        </ng-container>

        <ng-template #showLogout>
          <div class="d-flex align-items-center">
            <span class="p-2 me-2">Hi,{{user?.name}}</span>
            <button class="btn btn-dark" (click)="logout()">Logout</button>
          </div>
        </ng-template>

      </div>
    </div>
  </nav>